<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden z-30 relative"
  data-header-color="black">
  <div class="z-30 relative h-full flex flex-col text-current">
    <header class="">
      <h2 class="text-current pt-40 text-[40px] font-medium">Model Y</h2>
      <p class="text-sm underline">Concertar una prueba de conducción</p>
    </header>
    <footer class="flex flex-grow justify-end flex-col pb-20">
      <div class="gap-x-4 flex mx-auto">
        <a
          href=""
          class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded text-white font-medium px-12 py-2 hover:bg-gray-500 hover:border-gray-500 transition-colors duration-300"
          >Explorar inventario</a
        >
        <a
          href=""
          class="bg-white text-sm rounded font-medium px-12 py-2 hover:bg-black hover:text-white transition-colors duration-300"
          >Pedido personalizado</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 w-full h-full z-10">
    <img src="/model-y.avif" alt="Model-Y" class="h-full w-full object-cover" />
  </div>
</section>
